<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmEasy</title>
    <link rel="stylesheet" href="/styles/loginstyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
    <div id="black-box">
        <div id="left-content">
        <h1>PharmCity</h1>
        <p>Medicine made hassle free</p>
    </div>
    </div>
    <div id="blue-box">
        <ul>
            <li id="home-btn"><a href="/">Home</a></li>
            <li id="search-btn"><a href="/search">Search</a></li>
            <li id="signup-btn"><a href="/signup">Sign Up</a></li>
            <li id="loginbtn"><a href="/login">Login</a></li>
        </ul>
        <h1 id="loginhead">Login</h1>
        <div id="login">
            <form id="login" action="/userlogin" method="POST">
                <p>LoginId</p>
                <input type="text" name="id">
                <p>Password</p>
                <input type="password" name="pass">
                <input id="button" type="submit" value="Login"></button>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="index1.js"></script>
</body>
</html>